Repository rhesis-ai/rhesis, pull requests merged in 2025-09, with the labels that each got.

#255 Fix: Incorrect Diff In Linter
  apps/backend/Makefile
  sdk/Makefile
Labels: Components & Infrastructure

#269 Add Testing To Vs Code Settings
  .vscode/settings.json
Labels: Components & Infrastructure

#285 fix: Tooltip visibility for different theemes
  apps/frontend/src/app/(protected)/test-results/components/LatestTestRunsChart.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestRunDetailCharts.tsx
  apps/frontend/src/app/(protected)/test-sets/[identifier]/components/TestSetDetailCharts.tsx
  apps/frontend/src/components/common/BaseLineChart.tsx
  apps/frontend/src/components/common/BasePieChart.tsx
  apps/frontend/src/components/common/BaseScatterChart.tsx
Labels: Test Runs

#272 Extend LLMService with Multiple Providers & Offline Support
  sdk/pyproject.toml
  sdk/src/rhesis/sdk/errors.py
  sdk/src/rhesis/sdk/models/__init__.py
  sdk/src/rhesis/sdk/models/providers/gemini.py
  sdk/src/rhesis/sdk/models/providers/huggingface.py
  sdk/src/rhesis/sdk/models/providers/litellm.py
  sdk/src/rhesis/sdk/models/providers/openai.py
  sdk/uv.lock
  tests/sdk/models/providers/test_gemini.py
  tests/sdk/models/providers/test_hugginface.py
  tests/sdk/models/providers/test_litellm.py
  tests/sdk/models/providers/test_rhesis.py
Labels: SDK

#290 Fix: Contributing Guide
  CONTRIBUTING.md
  apps/backend/CONTRIBUTING.md
Labels: Components & Infrastructure

#259 Implementation of deepeval metrics with supports of LLM Models
  apps/backend/uv.lock
  sdk/pyproject.toml
  sdk/src/rhesis/sdk/metrics/__init__.py
  sdk/src/rhesis/sdk/metrics/base.py
  sdk/src/rhesis/sdk/metrics/config/__init__.py
  sdk/src/rhesis/sdk/metrics/config/backends.yml
  sdk/src/rhesis/sdk/metrics/config/defaults.yml
  sdk/src/rhesis/sdk/metrics/config/loader.py
  sdk/src/rhesis/sdk/metrics/constants.py
  sdk/src/rhesis/sdk/metrics/evaluator.py
  sdk/src/rhesis/sdk/metrics/examples.py
  sdk/src/rhesis/sdk/metrics/factory.py
  sdk/src/rhesis/sdk/metrics/providers/__init__.py
  sdk/src/rhesis/sdk/metrics/providers/deepeval/__init__.py
  sdk/src/rhesis/sdk/metrics/providers/deepeval/examples.py
  sdk/src/rhesis/sdk/metrics/providers/deepeval/factory.py
  sdk/src/rhesis/sdk/metrics/providers/deepeval/metric_base.py
  sdk/src/rhesis/sdk/metrics/providers/deepeval/metrics.py
  sdk/src/rhesis/sdk/metrics/providers/deepeval/model.py
  sdk/src/rhesis/sdk/metrics/providers/native/README.md
  sdk/src/rhesis/sdk/metrics/providers/native/__init__.py
  sdk/src/rhesis/sdk/metrics/providers/native/factory.py
  sdk/src/rhesis/sdk/metrics/providers/native/metric_base.py
  sdk/src/rhesis/sdk/metrics/providers/native/prompt_metric.py
  sdk/src/rhesis/sdk/metrics/providers/ragas/__init__.py
  sdk/src/rhesis/sdk/metrics/providers/ragas/factory.py
  sdk/src/rhesis/sdk/metrics/providers/ragas/metric_base.py
  sdk/src/rhesis/sdk/metrics/providers/ragas/metrics.py
  sdk/src/rhesis/sdk/metrics/score_evaluator.py
  sdk/src/rhesis/sdk/metrics/templates/prompt_metric.jinja
  sdk/src/rhesis/sdk/metrics/test_metric.py
  sdk/src/rhesis/sdk/metrics/tests/__init__.py
  sdk/src/rhesis/sdk/metrics/tests/test_deepeval.py
  sdk/src/rhesis/sdk/metrics/tests/test_ragas.py
  sdk/src/rhesis/sdk/metrics/tests/test_rhesis.py
  sdk/src/rhesis/sdk/metrics/utils.py
  sdk/uv.lock
Labels: Metrics & Evaluations, SDK

#302 Task/Remove Pyarrow
  sdk/pyproject.toml
  sdk/src/rhesis/sdk/entities/test_set.py
Labels: SDK

#305 Add file exclusions to VS Code settings
  .vscode/settings.json
Labels: Components & Infrastructure

#336 Bug/Update Project Header Reactively
  apps/frontend/src/app/(protected)/projects/[identifier]/client-wrapper.tsx
Labels: Projects, Frontend

#349 Add Ollama
  sdk/src/rhesis/sdk/models/factory.py
  sdk/src/rhesis/sdk/models/providers/ollama.py
  tests/sdk/models/test_model_factory.py
Labels: SDK

#292 Refactor/rhesis prompt metric
  sdk/src/rhesis/sdk/metrics/__init__.py
  sdk/src/rhesis/sdk/metrics/providers/native/__init__.py
  sdk/src/rhesis/sdk/metrics/providers/native/examples.py
  sdk/src/rhesis/sdk/metrics/providers/native/factory.py
  sdk/src/rhesis/sdk/metrics/providers/native/metric_base.py
  sdk/src/rhesis/sdk/metrics/providers/native/prompt_metric.py
  sdk/src/rhesis/sdk/metrics/providers/native/prompt_metric_categorical.py
  sdk/src/rhesis/sdk/metrics/providers/native/prompt_metric_numeric.py
  sdk/src/rhesis/sdk/metrics/providers/native/templates/prompt_metric.jinja
Labels: Metrics & Evaluations, SDK

#356 Models documentation in nextra
  apps/documentation/app/_meta.js
  apps/documentation/app/sdk/models/page.mdx
  apps/documentation/app/sdk/page.mdx
  sdk/src/rhesis/sdk/models/__init__.py
Labels: SDK, documentation

#330 #301 Task Feature Backend
  apps/backend/src/rhesis/backend/alembic/README.md
  apps/backend/src/rhesis/backend/alembic/templates/cleanup_priority_references_template.sql
  apps/backend/src/rhesis/backend/alembic/templates/cleanup_references_template.sql
  apps/backend/src/rhesis/backend/alembic/templates/cleanup_status_template.sql
  apps/backend/src/rhesis/backend/alembic/templates/cleanup_type_lookup_template.sql
  apps/backend/src/rhesis/backend/alembic/templates/status_template.sql
  apps/backend/src/rhesis/backend/alembic/templates/type_lookup_template.sql
  apps/backend/src/rhesis/backend/alembic/utils/template_loader.py
  apps/backend/src/rhesis/backend/alembic/versions/4df7965dfdfb_merge_task_and_metadata_migrations.py
  apps/backend/src/rhesis/backend/alembic/versions/792098eebe5f_add_task_model.py
  apps/backend/src/rhesis/backend/alembic/versions/a939dc9b4168_add_task_statuses_and_priorities.py
  apps/backend/src/rhesis/backend/app/constants.py
  apps/backend/src/rhesis/backend/app/crud.py
  apps/backend/src/rhesis/backend/app/models/__init__.py
  apps/backend/src/rhesis/backend/app/models/status.py
  apps/backend/src/rhesis/backend/app/models/task.py
  apps/backend/src/rhesis/backend/app/models/type_lookup.py
  apps/backend/src/rhesis/backend/app/models/user.py
  apps/backend/src/rhesis/backend/app/routers/__init__.py
  apps/backend/src/rhesis/backend/app/routers/job.py
  apps/backend/src/rhesis/backend/app/routers/task_management.py
  apps/backend/src/rhesis/backend/app/schemas/__init__.py
  apps/backend/src/rhesis/backend/app/schemas/comment.py
  apps/backend/src/rhesis/backend/app/schemas/task_management.py
  apps/backend/src/rhesis/backend/app/services/initial_data.json
  apps/backend/src/rhesis/backend/app/services/task_management.py
  apps/backend/src/rhesis/backend/app/services/task_notification.py
  apps/backend/src/rhesis/backend/notifications/email/template_service.py
  apps/backend/src/rhesis/backend/notifications/email/templates/task_assignment.html.jinja2
  apps/backend/src/rhesis/backend/tasks/__init__.py
  apps/backend/src/rhesis/backend/tasks/task_notifications.py
Labels: Backend

#361 Use SDK modules to implement the benchmarking Framework for Polyphemus
  apps/polyphemus/.python-version
  apps/polyphemus/pyproject.toml
  apps/polyphemus/src/rhesis/polyphemus/benchmarking/README.md
  apps/polyphemus/src/rhesis/polyphemus/benchmarking/models/__init__.py
  apps/polyphemus/src/rhesis/polyphemus/benchmarking/models/abstract_model.py
  apps/polyphemus/src/rhesis/polyphemus/benchmarking/models/deep_hermes3.py
  apps/polyphemus/src/rhesis/polyphemus/benchmarking/models/dolphin3.py
  apps/polyphemus/src/rhesis/polyphemus/benchmarking/models/hermes3.py
  apps/polyphemus/src/rhesis/polyphemus/benchmarking/models/huggingface/deep_hermes3.py
  apps/polyphemus/src/rhesis/polyphemus/benchmarking/models/huggingface/dolphin3.py
  apps/polyphemus/src/rhesis/polyphemus/benchmarking/models/huggingface/hermes3.py
  apps/polyphemus/src/rhesis/polyphemus/benchmarking/models/huggingface/kimi_k2.py
  apps/polyphemus/src/rhesis/polyphemus/benchmarking/models/huggingface/vicuna.py
  apps/polyphemus/src/rhesis/polyphemus/benchmarking/models/huggingface_model.py
  apps/polyphemus/src/rhesis/polyphemus/benchmarking/models/mock_model.py
  apps/polyphemus/src/rhesis/polyphemus/benchmarking/test_sets/__init__.py
  apps/polyphemus/src/rhesis/polyphemus/benchmarking/test_sets/abstract_testset.py
  apps/polyphemus/src/rhesis/polyphemus/benchmarking/test_sets/harmful/README.md
  apps/polyphemus/src/rhesis/polyphemus/benchmarking/test_sets/harmful/__init__.py
  apps/polyphemus/src/rhesis/polyphemus/benchmarking/test_sets/harmless/__init__.py
  apps/polyphemus/src/rhesis/polyphemus/benchmarking/test_sets/harmless/mock_test_set.json
  apps/polyphemus/src/rhesis/polyphemus/benchmarking/test_sets/harmless/mock_test_set.py
  apps/polyphemus/src/rhesis/polyphemus/benchmarking/test_sets/utils.py
  apps/polyphemus/src/rhesis/polyphemus/benchmarking/tester.py
  apps/polyphemus/src/rhesis/polyphemus/benchmarking/tests/__init__.py
  apps/polyphemus/src/rhesis/polyphemus/benchmarking/tests/abstract_testset.py
  apps/polyphemus/src/rhesis/polyphemus/benchmarking/tests/test_sets/owasp_model_integrity_test_set.py
  apps/polyphemus/uv.lock
  sdk/src/rhesis/sdk/models/__init__.py
Labels: Metrics & Evaluations

#359 Document Metadata Frontend
  apps/backend/src/rhesis/backend/app/schemas/test.py
  apps/frontend/src/app/(protected)/test-sets/[identifier]/components/TestSetDetailsSection.tsx
  apps/frontend/src/app/(protected)/tests/[identifier]/components/TestDetailData.tsx
  apps/frontend/src/utils/api-client/interfaces/test-set.ts
  apps/frontend/src/utils/api-client/interfaces/tests.ts
Labels: Integrations, Test Sets, Frontend

#366 Test Coverage Maintain Tenant Context
  apps/backend/src/rhesis/backend/app/services/invokers/websocket_invoker.py
  tests/backend/conftest.py
  tests/backend/routes/fixtures/entities/projects.py
  tests/backend/routes/fixtures/entities/prompts.py
  tests/backend/routes/fixtures/entities/statuses.py
  tests/backend/routes/fixtures/entities/users.py
  tests/backend/services/__init__.py
  tests/backend/services/test_organization.py
  tests/backend/services/test_test.py
  tests/backend/services/test_test_set.py
  tests/backend/test_crud.py
  tests/backend/utils/__init__.py
  tests/backend/utils/test_crud_utils.py
  tests/backend/utils/test_model_utils.py
  tests/pytest.ini
Labels: Unit Testing

#408 fix(dashboard): improve dashboard charts with real data and cumulative totals
  apps/frontend/src/app/(protected)/dashboard/components/DashboardCharts.tsx
Labels: Frontend

#406 Fix: Double Elevation Clean
  apps/frontend/src/app/(protected)/tasks/components/TasksGrid.tsx
  apps/frontend/src/app/(protected)/test-sets/[identifier]/components/TestSetDetailsSection.tsx
  apps/frontend/src/app/(protected)/test-sets/[identifier]/components/TestSetTestsGrid.tsx
  scripts/check-hardcoded-styles.js
Labels: Frontend

#416 feat: add demo route with Auth0 integration
  .github/workflows/backend.yml
  apps/backend/src/rhesis/backend/app/routers/auth.py
  apps/frontend/src/app/demo/page.tsx
  infrastructure/config/service-secrets-config.sh.example
  infrastructure/config/service-secrets-create.sh
Labels: Authentication & Authorization, Frontend

#422 Feat/Sdk Testing Infrastructure
  .github/workflows/lint.yml
  .github/workflows/sdk-test.yml
  .vscode/settings.json
  sdk/src/rhesis/sdk/metrics/base.py
  sdk/src/rhesis/sdk/metrics/providers/native/prompt_metric.py
  sdk/src/rhesis/sdk/metrics/providers/native/prompt_metric_numeric.py
  tests/sdk/metrics/providers/native/test_prompt_metric.py
  tests/sdk/metrics/providers/native/test_prompt_metric_categorical.py
  tests/sdk/metrics/providers/native/test_prompt_metric_numeric.py
  tests/sdk/metrics/test_base.py
  tests/sdk/test_client.py
Labels: SDK, Unit Testing

#438 Feat/Restore Counts Functionality
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestRunTestsGrid.tsx
  apps/frontend/src/app/(protected)/test-runs/components/TestRunsGrid.tsx
  apps/frontend/src/app/(protected)/test-sets/components/TestSetsGrid.tsx
  apps/frontend/src/app/(protected)/tests/components/TestsGrid.tsx
  apps/frontend/src/utils/api-client/interfaces/test-run.ts
Labels: Frontend
