Repository rhesis-ai/rhesis, pull requests merged in 2025-10, with the labels that each got.

#453 fix: resolve duplicate key error in Run Test Drawer with same project names
  apps/frontend/next-env.d.ts
  apps/frontend/src/app/(protected)/test-runs/components/TestRunDrawer.tsx
  apps/frontend/src/app/(protected)/test-sets/[identifier]/components/ExecuteTestSetDrawer.tsx
  apps/frontend/src/app/(protected)/tests/components/TrialDrawer.tsx
  apps/frontend/src/app/(protected)/tests/new-generated/components/GenerateTestsStepper.tsx
Labels: Frontend

#490 Fix: Pull Metrics
  sdk/src/rhesis/sdk/metrics/utils.py
Labels: SDK, Backend

#506 Fix: Fix Linting Workflow Behavior
  .github/workflows/lint.yml
Labels: Components & Infrastructure
